<div class="footer">
    <div class="container">
        <div class="justify-content-center">
            <div class="col-10 col-md-3"></div>
            <div class="col-10 col-md-4"></div>
            <div class="col-10 col-md-2"></div>
            <div class="col-10 col-md-3"></div>
        </div>
    </div>
    <div class="footer2"></div>
</div>
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10 col-md-4">
                <h2 class="team"><em>ShoesByElite..</em></h2>
                <p>...A shopping experience...</p>
            </div>
            <div class="col-10 col-md-4" id="contact">
                <h2>Contact Us</h2>
                <h4><i class="fa-solid fa-phone"></i> <span>+234 9815 264 732</span></h4>
                <h4><i class="fa-solid fa-envelope"></i> <span>info@gmail.com</span></h4>
            </div>
            <div class="col-10 col-md-2">
                <ul class="list-unstyled">
                    <li class="mb-3"><a href="">Home</a></li>
                    <li class="mb-3"><a href="">Gallery</a></li>
                    <li class="mb-3"><a href="">About</a></li>
                    <li class="mb-3"><a href="">FAQ</a></li>
                    <li class="mb-3"><a href="">Blog</a></li>
                    <!-- <li class="list-inline-item"><a href=""><i class="fa-brands fa-facebook"></i></li> -->
                </ul>
            </div>
            <div class="col-10 col-md-3">
                <h4 class="mb-3">Social Handles</h4>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href=""><i class="fa-brands fa-facebook"></i><a></li>
                    <li class="list-inline-item"><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
                    <li class="list-inline-item"><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
                    <li class="list-inline-item"><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
              </ul>
            </div>
        </div>
    </div>
    <div class="footer2">
        <p class="text-center pt-3 pb-2 border-top">ShoesByElite | copyright &copy;2023 |Made with Love: Team EliteDev.
           <a href="#backtop" class="btn" id="#backtop">To top</a></p>
    </div>
</div>